
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Great+Vibes&family=Mr+Dafoe&family=Open+Sans:wght@400;500&family=Poppins:wght@300;400;500&family=Tillana&display=swap');

*{
    margin: 0;
    padding: 0;
}
section{
    height: 100vh;
    margin:0 ;
}
body{
    margin: 0;
    padding: 0;
    background-color: #11142d;
    font-family: 'Poppins', sans-serif;
    
}
.image{
    background: url(car-1.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100%;
}

.text{
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
    color: #00fff5;
    font-size: 30px;
    font-weight: 500;  
    overflow: hidden; 
    width: fit-content;
    white-space: nowrap; 
}

.anim-typewriter{
    animation: typewriter 5s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal ;
}



@keyframes typewriter {
    from{
        width: 0;
    }
    to{
        width: 16em;
    }
}

@keyframes  blinkTextCursor {
    from{
        border-right-color: rgb(225, 225, 225, 0.75)
    }
    to{
        border-right-color: transparent ;
    }
}

span{
   
    color: #e0372e;
    font-size:50px ;
    font-weight: 600;
}

h1{
    position: relative;
    font-size: 20;
    position: absolute;
    border: 2px solid red;
    width: 25%;
    margin:18% 5%;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.grid-wrapper > div {
   display: flex;
   justify-content: center;
   align-items: center;
}
.grid-wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}
.grid-wrapper .wide{
    grid-column:span 2 ;

}
.grid-wrapper .tall{
    grid-auto-rows:span 2;
}
.grid-wrapper .big{
    grid-column: span 2;
    grid-row: span 2 ;
}
.two{
    margin-top: 10px;
}